<ion-header>
  <ion-navbar global>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pharmacies</ion-title>
  </ion-navbar>

  <div class="sub-menu-list">
    <div id="favorites" class="sub-menu-item"(click)="subMenuItemTapped($event, 'favorites')"><ion-icon name="star"></ion-icon><div>Favoris</div></div>
    <div id="open" class="sub-menu-item"(click)="subMenuItemTapped($event, 'open')"><ion-icon name="clock"></ion-icon><div>Ouvertes</div></div>
    <div id="prescription" class="sub-menu-item"(click)="subMenuItemTapped($event, 'prescription')"><ion-icon name="send"></ion-icon><div>Ordonnances</div></div>
    <div id="search" class="sub-menu-item"(click)="subMenuItemTapped($event, 'search')"><ion-icon name="search"></ion-icon><div>Rechercher</div></div>
  </div>

</ion-header>

<ion-content>
  <ion-searchbar (input)="search($event)" class="hidden"></ion-searchbar>
  <ion-card *ngFor="let pharmacie of pharmacies" (click)="goToDetails($event, pharmacie)">
    <ion-card-content class="content">
      <div class="content-title"><b>{{pharmacie.rs}}</b></div>
      <div>{{pharmacie.cpville}} <span *ngIf="pharmacie.distance">-</span> {{pharmacie.distance}}</div>
      <div>Horaires non renseignés</div>
    </ion-card-content>
  </ion-card>
</ion-content>
